
header,header nav,header nav ul,main{
    display: flex;
}
header nav{
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 81px;
    margin: auto;
}
header{
    border-bottom: 2px white solid;
    color: white;
    box-shadow: 2px 2px 4px white;
}
header nav img{
    width: 133px;
    height: 31px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
header nav ul{
    align-items: center;
    gap: 46px;
   
} header nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Raleway";
    font-size: 15.742380142211914px;
    font-weight: normal;
    line-height: 36.99894714355469px;
    font-style: normal;
    text-align: center;
    color: #303134;
    font-weight: 700;
    cursor: pointer;
}

                    /* slider */
.section1{
    width: 99.8%;
    margin: auto;
    height: 610px;
    position: relative;
    background-color: #cccccc;
    overflow: hidden;
    box-shadow: 2px 2px 4px white;
    border-radius: 10px;
}
.slide{
    width: 100%;
    height: 100%;
    position: absolute;  
    transition: 1s;
}
.button1,.button2{
    position: relative;
    width: 33px;
    height: 33px;
    border: rgb(255, 255, 255);
    border-radius: 3px;
    cursor: pointer;
}
/* .button2{
  
}
.button1{
    top: 290px;
    left: 95px;
} */
.buttons{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    flex-direction: row;
    position: relative;
}
.background-div{
    width: 100%;
    height: 610px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../images/sliderbackgroud.png);
    background-repeat: no-repeat;
    background-size: cover;
    bottom: -0.1px;
}

    /* main section */
main{
   justify-content: space-evenly;
    width: 90%;
    margin: auto;
    margin-top: 5%;
    height: 600px;
}
main .main_div1{
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.main_div2{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.main_div2 div{
    display: flex;
    flex-direction: column;
    width: 270.1px;
    height: 327.4px;
}
.main_div2 div div,.inside_div{
    display: flex;
    gap: 10px;
}
.main_div1 h3{
    font-family: "Raleway";
    text-transform: uppercase;
    font-size: 25.9973201751709px;
    font-weight: normal;
    line-height: 36.99618911743164px;
    font-style: normal;
    text-align: left;
    color: #1a1a1b;
}
.main_div2 div h3{          
    font-family: "Raleway";
    font-size: 17.998149871826172px;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 21.997732162475586px;
    font-style: normal;
    text-align: left;
    color: #1a1a1b;
}
.main_div1 p,.main_div2 div p{
    font-family: "Raleway";
    font-size: 15.998350143432617px;
    font-weight: 500;
    line-height: 21.997732162475586px;
    font-style: normal;
    text-align: left;
    color: #8d8d8d;
}

/* video section */

.section2{
    margin-top: 7%;
    width: 100%;
    height: 510px;
    background-image: url(../images/videosectionimg.png);
    background-size: cover;
    background-repeat: no-repeat;
   
}
.section2_div{
    width: 100%;
    height: 510px;
    background-image: url(../images/videosectionimg2.png);
    position: absolute;
}
.section2_div2{
    position: relative;
    top: 13.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}
.section2_div2 h3{
    font-family: "Raleway";
    font-size: 15.998350143432617px;
    font-weight: normal;
    line-height: 36.99618911743164px;
    font-style: normal;
    text-align: left;
    color: #ffffff;
}
.section2_div2 h2{
    font-family: "Raleway";
    font-size: 25.9973201751709px;
    font-weight: normal;
    line-height: 36.99618911743164px;
    font-style: normal;
    text-align: left;
    color: #ffffff;
}
.section2_div2  div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

    /* section3 */


.section3{
    width: 100%;
    height: 290px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
    border-bottom: solid black 1px;
}
.section3 div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
}
.section3 div h2{
    font-family: "Lato";
    font-size: 32px;
    font-weight: bold;
    line-height: 22px;
    font-style: normal;
    text-align: left;
    color: #1a1a1b;
}
.section3 div h4{
    font-family: "Raleway";
    font-size: 16px;
    font-weight: normal;
    line-height: 22px;
    font-style: normal;
    text-align: left;
    color: #1a1a1b;
}

/* section4 */

.section4{
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    gap: 5%;
}
.section4_card_div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2%;
    border: white solid 2px;
    width: 90%;
}
.section4_card{
    width: 267px;
    height: 358px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0px 0px 6px rgba(101,101,101,0.2 ));
    border-color: #000000;
    border-width: 1px;
    background: #ffffff;
    border-radius: 6px;
}
.section4_card img{
   width: 267px;
    height: 246px;   
}
.section4_card h4{
    font-family: "Raleway";
    font-size: 14px;
    font-weight: 500;
    line-height: 37px;
    font-style: normal;
    text-align: left;
    color: #1a1a1b;
    cursor: pointer;
}
.section4_card h3{
    font-family: "Raleway";
    font-size: 18px;
    font-weight: 500;
    line-height: 37px;
    font-style: normal;
    text-align: left;
    color: #4b54fa;
    cursor: pointer;
}
.section4_div{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
}


/* section5 */

.section5{
    width: 100%;
    height: 350px;
    background-image: url(../images/section5img/vidar-nordli-mathise.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.section5 img{
    width: 100%;
    height: 350px;
    position: absolute;
}
.section5 form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 20px;
    top: 20%;
}
.section5 form input{
    width: 395px;
    height: 50px;
    border: 2px solid;
    border-color: #ffffff;
    border-radius: 25px;
    opacity: 0.5;
}
.section5 form button{
    width: 155px;
    height: 50px;
    border-color: #ffffff;
    border-width: 2px;
    border-style: solid;
    border-radius: 25px;
    font-family: "Raleway";
    font-size: 16px;    
    color:#08AEEA ;
    cursor: pointer;
}
::placeholder{
    font-family: "Raleway";
    font-size: 16px;
    font-weight: 500;
    line-height: 37px;
    font-style: normal;
    text-align: left;
}
.section5 form h2{
    font-family: "Raleway";
    font-size: 34px;
    font-weight: normal;
    line-height: 37px;
    font-style: normal;
    text-align: center;
    color: #ffffff;
}
.section5 form h4{
    font-family: "Raleway";
    font-size: 18px;
    font-weight: 500;
    line-height: 37px;
    font-style: normal;
    text-align: center;
    color: #ffffff;
}

        /* section6 */

.section6{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    height: 1100px;
    margin-top: 2%;
}
.section6_div,.section6_ending div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.section6_div h4{
    font-family: "Raleway";
    font-size: 15.985739707946777px;
    font-weight: normal;
    line-height: 36.96701431274414px;
    font-style: normal;
    text-align: left;
    color: #8d8d8d;
    text-transform: uppercase;
}
.section6_div h2{
    font-family: "Raleway";
    font-size: 25.97681999206543px;
    font-weight: normal;
    line-height: 36.96701431274414px;
    font-style: normal;
    text-align: left;
    color: #1a1a1b;
}
.section6 .section6_card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    width: 368px;
    height: 409px;
    border-color: #000000;
    border-width: 1px;
    background: #f4f4f4;
    position: relative;
    border-radius: 20px;
}
.section6 .section6_card h4{
    font-family: "Raleway";
    font-size: 18px;
    font-weight: normal;
    line-height: 37px;
    font-style: normal;
    text-align: left;
    color: #4b54fa;
}
.section6 .section6_card p{
    font-family: "Raleway";
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    font-style: normal;
    text-align: center;
    color: #1a1a1b;
}
.s6_card_img{
    width: 185px;
    height: 225px;
    position: absolute;
    top: 15px;
}
.section6_ending{
    width: 100%;
    height: 505px;
    background-image: url(../images/section6img/Clip\(2\).png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section6_ending h2{
    font-family: "Raleway";
    font-size: 36px;
    font-weight: 500;
    line-height: 37px;
    font-style: normal;
    text-align: center;
    color: #fefeff;
}
.section6_ending button{
    width: 170px;
    height: 50px; 
    border-radius: 25px;
    background: #08aeea;
    background: linear-gradient(-1deg, 
    #08aeea 0.00%, 
    #2af598 100.00%);
    cursor: pointer;
}
.section6_cardwrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}
.section6_ending div{
    margin-top: 160px;
}

/* section 7 */
.section7{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section7_div1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.section7_div1 h4{
    font-family: "Raleway";
    font-size: 15.9652099609375px;
    font-weight: normal;
    line-height: 36.919551849365234px;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
    color: #8d8d8d;
}
.section7_div1 h2{
    font-family: "Raleway";
    font-size: 25.943470001220703px;
    font-weight: normal;
    line-height: 36.919551849365234px;
    font-style: normal;
    text-align: left;
    color: #1a1a1b;
}
.section7_div1{
    width: 100%;
    height: 360px;
    display: flex;
}
.section7_card{
    width: 271px;
    height: 425px;
    background-image: url(../images/section7img/yeo-khee-618704-unsp.png);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-radius: 10px;
    border-color: #000000;
    border-width: 1px;
}
.section7_card_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section7_card_div h4{
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 500;
    line-height: 37px;
    font-style: normal;
    text-align: left;
    color: #fefeff;
}
.section7_card_div h2{
    font-family: "Raleway";
    font-size: 30px;
    font-weight: normal;
    line-height: 37px;
    font-style: normal;
    text-align: left;
    color: #fefeff;
}
.section7_card_div1{
    width: 40px;
    height: 40px;
    filter: drop-shadow(0px 0px 10px rgba(101,101,101,0.2 ));
    background: #08aeea;
    background: linear-gradient(-5deg, 
    #08aeea 0.00%, 
    #2af598 100.00%);
    border-radius: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.section7_card_maindiv{
    display: flex;
    gap: 80px;
}
.section7_div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

        /* section8 */

.section8{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 435px;
    background-color: rebeccapurple;
    margin-top: 5%;
}
.section8 iframe{
    width: 100%;
    height: 435px;
}

        /* footer */

footer{
    width: 100%;
    height: 356px;
    background-color: black;
}
.footer_main_div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 2px white solid;
    flex-wrap: wrap;
}
.footer_main_div div{
    width: 225px;
    height: 250px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    gap: 35px;
}
.footer_main_div div h2{
    font-family: "Raleway";
    color: white;
    font-weight: 700;
    font-size:  25px;
}
.footer_main_div div ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.footer_main_div div ul li a{
    text-decoration: none;
    font-family: "Raleway";
    color: white;
}
.footer_main_div2 form{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer_main_div2 form input{
    width: 283px;
    height: 48px;
    border-radius: 2px;
}
.footer_main_div2 form button{
    width: 58px;
    height: 54.5px;
    border-radius: 3px;
    background: #08aeea;
    background: linear-gradient(-2deg, 
    #08aeea 0.00%, 
    #2af598 100.00%);
    color: white;
}
.footer_main_div2 h3{
    color: white;
}
.footer_div2{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
/* burger */


.burger{
    display:  none;
}